body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #d8f0f8; 
}

.page-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    background-color:rgb(61, 102, 116);
}

.page-header h1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin: 0;
    color: aliceblue;
}


div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,  blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
}


a:focus {
    outline: thin dotted;
}

a:active, a:hover {
    outline: 0;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
   
}

figure {
    margin: 0;
}

form {
    margin: 0;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    margin-left: -7px; /* 3 */
}

button, input {
    line-height: normal;
}

button, select {
    text-transform: none;
}

button, html input[type="button"],


input[type="reset"],input[type="submit"] {
    appearance: button;
    -webkit-appearance: button; /* For Safari/older WebKit */
    cursor: pointer;            /* Makes it look clickable */
    overflow: visible;          /* Ensures text isn't clipped */
}
button[disabled], html input[disabled] {
    cursor: default;
}
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
    height: 13px;
    /* 3 */
    width: 13px;
    /* 3 */
}

input[type="search"] {
    appearance: textfield;
    -webkit-appearance: textfield; /* Safari/old WebKit */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
*/

textarea {
    vertical-align: top;
    /* 2 */
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
html {
    font-family: consolas;
    font-size: 12px;
}

input, textarea, select {
    background: transparent;
}

select {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 5px;
}

body {
    background: #f9f7f4;
    background: #f8f5f2;
    margin: 0;
}

h1 {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
}

h3 {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
}

h4 {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
}

a {
    color: inherit;
}

.main-header {
    display: flex;
    background: black;
    padding: 8px;
    color: wheat;
}

.main-body {
    margin: 8px;
}

.main-body-content {
     display: flex; 
}

.page-split{
    display: flex;
}

.page-split .page-section{
    margin-left: 50px;
}
.page-split .page-section:first-of-type{
    margin-left: 0;
}

.page-split .network-page-section{
    flex-grow: 1;
}


.page-section {
    margin-bottom: 25px;
}

.input-group-title {
    font-weight: bold;
    margin: 15px 0 10px 0;
}

.block-label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.inline-label {
    font-weight: bold;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 5px;
}

.block-labelled-control, .inline-labelled-control {
    margin-bottom: 12px;
}

.block-labelled-control>label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.block-labelled-control>.control {
    display: block;
}

.inline-labelled-control>label {
    font-weight: bold;
    display: inline;
    margin-right: 5px;
}

.inline-labelled-control>.control {
    display: inline;
}

.input-group {
    margin-bottom: 20px;
}

.data-generator-container {
    display: flex;
    flex-wrap: wrap;
}

.data-generator-container .generator-section {
     margin-right: 100px; 
}

.head3 {
    font-size: 16px;
    margin: 0 0 15px 0;
}

.pivot-head3 {
    font-size: 16px;
    margin: -5px 0 15px 0;
}



.control-btn[disabled] {
    fill: lightgray;
}

.control-btn.save {
    margin-left: 50px;
}

.block-label .value {
    font-weight: normal;
}

.input-section-container {
    display: flex;
}

.input-section {
    margin-right: 50px;
}

.predictions-container {
    display: flex;
    flex-wrap: wrap;
}

.predictions-container .prediction-section {
    margin-right: 100px;
}

.page-section.visualisation-section {
    display: flex;
    flex-wrap: wrap;
}

.page-section.visualisation-section .visualisation-block{
    margin-left: 50px;
}
.page-section.visualisation-section .visualisation-block:first-of-type{
    margin-left: 0;
}
.Slider .slider-label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}



.Checkbox {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    line-height: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.Checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}



.Checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    /* background-color: #eee; */
    border: 1px solid #000;
}



.Checkbox:hover input~.checkmark {
    background-color: #f0f0f0;
}

.Checkbox:active input~.checkmark {
    background-color: #e0e0e0;
}


.Checkbox input:focus~.checkmark {
    background-color: #e0e0e0;
}


.Checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.Checkbox input:checked~.checkmark:after {
    display: block;
}

.Checkbox .checkmark:after {
    left: 6px;
    top: 2px;
    width: 4px;
    height: 9px;
    border: solid black;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.pivot-radio-item {
    display: inline-block;
    position: relative;
    padding: 5px;
    margin: 0px 15px 0px 0;
    cursor: pointer;
    /* font-size: 22px; */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pivot-radio-item input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.pivot-radio-item .radiobtn {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.pivot-radio-item input:checked~.radiobtn {
    border-bottom: 1px solid #333;
}

.pivot-radio-item input:checked~.radio-text {
   font-weight: bold;
}


.pivot-radio-item input:checked~.radiobtn:after {
    display: block;
}

.DataCodeGenerator2D1 .code-area {
    margin-top: 5px;
}

.DataCodeGenerator2D1 .code-area .code-edit {
    border: none;
    padding: 5px 5px 5px 10px;
    color:#084fa2;
}

.DataCodeGenerator2D1 .code-area .code-immutable {
    color: gray;
    margin-bottom: 5px;
}
.MinMaxInput input[type="number"]{
    border: none;
    border-bottom: 1px solid #ccc;
    width: 70px;
    padding: 4px;
}

.MinMaxInput .label-entry
{
    font-weight: bold; 
}

.DataDrawer2D1 {
    display: flex;
}

.DataDrawer2D1 .draw-panel {
    margin-left: 20px;
}

.DataDrawer2D1 canvas {
    cursor: crosshair;
    border: 1px solid gray;
}
.NetworkEditor .action-zone
{
    position: absolute;
}

.NetworkEditor .network-view {
    position: relative;
    display: flex;
    justify-content: space-around;
}

.NetworkEditor .network-view .svg-arrows {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.NetworkEditor .network-view .svg-arrows path {
    fill: rgb(255, 204, 0);
    stroke: cadetblue; 
}

.NetworkEditor .network-view .svg-arrows textPath {
    font-size: 12px;
}

.NetworkEditor .neuron {
    height: 50px;
    width: 50px;
    border: 1px solid;
}



.NetworkEditor .network-view .hidden-layers {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}

.NetworkEditor .hidden-layers-settings {
    text-align: center;
}

.NetworkEditor .hidden-layers-settings .count {
    margin-right: 5px;
}

.NetworkEditor .hidden-layers-settings .buttons {
    margin: 5px;
}

.NetworkEditor .layer-settings {
    margin-bottom: 5px;
}

.NetworkEditor .input-layer .neuron {
    justify-content: center;
    display: flex;
    align-items: center;
}


.LossViewer .titles {
    margin-bottom: 10px;
}

.LossViewer .svg-container {
    margin-bottom: 10px;
}

.LossViewer .test-loss, .LossViewer .training-loss {
    display: flex;
    justify-content: space-between;
}
.DataHeatMap2D {
    display: flex;
}


.DataHeatMap2D .map-axis-container {
    position: relative;
    width: 320px;
    height: 325px;
    margin-right: 30px;
    padding-left: 20px;
}

.DataHeatMap2D .x-axis-container {
    display: flex;
    justify-content: space-between;
}

.DataHeatMap2D .y-axis-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.LabelScale {
    display: flex;
}

.LabelScale .heat-scale {
    width: 20px;
    height: 80%;
    display: inline-block;
    margin-right: 6px;
}

.LabelScale .axis-container {
    display: flex;
    height: 80%;
    justify-content: space-between;
    flex-direction: column-reverse;
    
}